
.card_color_lightblue
{
    background-color: lightblue;
}

.card_color_darkgreen
{
    background-color: darkgreen;
}
.card_color_purple
{
    background-color: purple;
}
.card_color_black
{
    background-color: black;
}
.card_color_brown
{
    background-color: brown;
}
.card_color_orange
{
    background-color: orange;
}
.card_color_pink
{
    background-color:pink;
}
.card_color_white
{
    background-color:white;
}
.card_color_white
{
    background-color:white;
}
.card_color_gray
{
    background-color:gray;
}
.card_color_green
{
    background:green;
}
.card_color_red
{
    background:red;
}
.card_color_blue
{
    background:blue;
}
.button
{
    background-color: white;
}